@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap");

$dark-main-bg-color: #1d1d1d;
$dark-main-text-color: #ffffff;
$dark-secondary-bg-color: rgba(255, 255, 255, 0.05);
$dark-secondary-text-color: #8c8c8c;

$main-text-color: #1d1d1d;
$secondary-text-color: #8c8c8c;
$main-bg-color: #e5e5e5;
$secondary-bg-color: #ffffff;

body {
  background-color: $main-bg-color;
  font-family: "Jost", sans-serif;
  font-weight: 400;
}
.wrapper {
  display: flex;
  justify-content: flex-end;
}

.no-item {
  font-size: 16px;
  line-height: 24px;
  color: #8c8c8c;
  background-color: #f8f8f7;
  border-radius: 10px;
  padding: 20px;
}

input:focus,
select:focus {
  outline: 2px solid #fbe0dc;
}
input:focus:invalid {
  outline: 2px solid #ff868e;
}

//====== menu styles ======
.aside {
  position: fixed;
  left: 0;
  width: 50%;
  padding: 30px;
}

.menu {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;

  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__switcher {
    display: flex;
    gap: 10px;
    border: 1px solid #ff868e;
    border-radius: 20px;
    padding: 5px 15px;
  }
  &__switch {
    font-weight: 500;
    font-size: 15px;
    color: $main-text-color;
    background-color: transparent;
    &.active {
      font-weight: 600;
      color: #ff868e;
    }
  }
  &__body {
    margin-top: 80px;
    @media (max-height: 600px) {
      margin-top: 20px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 44px;
    line-height: 58px;
    color: $main-text-color;
  }

  &__subtitle {
    margin-top: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8c8c8c;
  }
  &__secondary-title {
    margin-top: 60px;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: $main-text-color;
    @media (max-height: 600px) {
      margin-top: 20px;
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 20px;
  }

  &__link {
    width: 138px;
    cursor: pointer;
    &--col-1 {
      background: #b4b7ff;
      border: 4px solid rgba(255, 255, 255, 0.6);
      border-radius: 20px;
    }
    &--col-2 {
      background: #97eab9;
      border: 4px solid rgba(255, 255, 255, 0.6);
      border-radius: 20px;
    }
    &--col-3 {
      background: #ffd280;
      border: 4px solid rgba(255, 255, 255, 0.6);
      border-radius: 20px;
    }
    &:hover img {
      border: 4px solid #ffffff;
    }
    .active & img {
      border: 4px solid #fbe0dc;
    }
  }
  &__link:hover &__link-name {
    background: #fbe0dc;
  }
  .active &__link &__link-name {
    background: #ff868e;
    color: #ffffff;
  }

  &__link-name {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-align: center;
    color: #ff868e;
    width: 100%;
    background-color: $secondary-bg-color;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
  }
}

// ======= main styles =========

.main-bg {
  position: absolute;
  right: 0;
  width: 100%;
}

.main {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 775px;
  height: 900px;
  max-width: 100%;
  padding: 30px;
  &__container {
    width: 100%;
    height: 840px;
    max-width: 680px;
    border-radius: 20px;
  }

  &__header {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  &__search {
    position: relative;
    max-width: 470px;
    width: 100%;
  }
  &__input {
    font-size: 20px;
    line-height: 30px;
    color: $main-text-color;
    width: 100%;
    background-color: $secondary-bg-color;
    border-radius: 20px;
    padding: 15px 20px;
    &::placeholder {
      font-size: 20px;
      line-height: 30px;
      color: #8c8c8c;
    }
  }
  &__search-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: #fbe0dc;
    border-radius: 10px;
    img {
      width: 20px;
      height: 20px;
    }
    &:hover {
      background-color: #ff868e;
      img {
        filter: brightness(0) invert(1);
      }
    }
  }
  &__icons {
    display: flex;
    gap: 10px;
  }
  &__icon {
    background-color: $secondary-bg-color;
    border-radius: 20px;
    padding: 15px;
    &:hover {
      background-color: #fbe0dc;
    }
    img {
      width: 30px;
      height: 30px;
    }
    &.active {
      background-color: #ff868e;
      img {
        filter: brightness(0) invert(1);
      }
    }
  }

  &__navbar {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__aside {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  &__back-btn {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    background-color: #fbe0dc;
    border-radius: 10px;
    img {
      width: 20px;
      height: 20px;
    }
    &:hover {
      background-color: #ff868e;
      img {
        filter: brightness(0) invert(1);
      }
    }
  }
  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2px;
    color: #ffffff;
    background-color: #ff868e;
    border-radius: 10px;
    padding: 5px 30px;
  }
  &__select {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8c8c8c;
    background-color: #f8f8f7;
    border-radius: 10px;
    padding: 8px 10px;
    &--w100 {
      width: 100%;
    }
  }
  &__upload-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 2px;
    color: #ff868e;
    background-color: #fbe0dc;
    border-radius: 10px;
    padding: 10px 30px;
    &:hover {
      background-color: #ff868e;
      color: #ffffff;
      img {
        filter: brightness(0) invert(1);
      }
    }
  }

  &__body {
    margin-top: 10px;
    padding: 20px;
    border-radius: 20px;
    background-color: $secondary-bg-color;
  }
}

.hidden {
  background-image: url("../public/img/girl-and-pet\ 1.png");
  &.main {
    .main {
      &__container {
        background-color: #fbe0dc;
        position: relative;
        z-index: -1;
      }
    }
  }
}

//====== filter ============
.filter {
  background: #f8f8f7;
  border-radius: 20px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
  &__block {
    width: 290px;
  }
  &__name {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 18px;
    color: #8c8c8c;
    padding-left: 10px;
  }
  &__select {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $main-text-color;
    width: 100%;
    background: #ffffff;
    border-radius: 10px;
    padding: 8px 10px;
  }
  &__subrow {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  &__update {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    &:hover {
      background-color: #ff868e;
      img {
        filter: brightness(0) invert(1);
      }
    }
  }
}

//====== loader ==========
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  img {
    animation: spin 1s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.search-result {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #8c8c8c;
  margin-bottom: 20px;
  span {
    color: $main-text-color;
  }
}

// ==== gallery =============
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 140px;
  grid-gap: 20px;
  div {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 134, 142, 1);
    border-radius: 20px;
    &:hover img {
      opacity: 0.4;
    }
    &:hover .breed-name,
    &:hover .fav-btn {
      visibility: visible;
      opacity: 1;
    }
    & .fav-btn {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      background-color: #ffffff;
      border-radius: 10px;
      padding: 10px;
      transition: opacity 0.5s ease;
    }
    & .breed-name {
      position: absolute;
      bottom: 10px;
      left: 10px;
      right: 10px;
      visibility: hidden;
      opacity: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 40px;
      color: #ff868e;
      background-color: #ffffff;
      border-radius: 10px;
      max-width: 100%;
      transition: opacity 0.5s ease;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: opacity 0.5s ease;
    }
    &:nth-child(10n + 1),
    &:nth-child(10n + 8) {
      grid-column: auto / span 1;
      grid-row: auto / span 2;
    }
    &:nth-child(10n + 4),
    &:nth-child(10n + 9) {
      grid-column: auto / span 2;
      grid-row: auto / span 2;
    }
  }
}

//========================= breeds styles ===========
.breeds {
  &__slider {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: 360px;
    img {
      max-height: 360px;
      max-width: 100%;
      width: 100%;
      border-radius: 20px;
      object-fit: cover;
    }
  }
  &__buttons {
    position: absolute;
    bottom: -15px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px;
  }
  &__button {
    width: 10px;
    height: 10px;
    background-color: #fbe0dc;
    border-radius: 10px;
    &.active {
      background-color: #ff868e;
    }
  }

  &__title {
    position: absolute;
    top: -30px;
    text-align: center;
    margin: 0 auto;
    font-weight: 500;
    font-size: 36px;
    line-height: 52px;
    color: $main-text-color;
    padding: 5px 40px;
    background-color: #ffffff;
    border-radius: 20px;
  }
  &__description {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #fbe0dc;
    border-radius: 20px;
    height: 200px;
    margin-top: 50px;
    padding: 25px 40px 0;
  }
  &__subtitle {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #8c8c8c;
  }
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
  }
  &__collumn {
    width: 270px;
  }
  &__info {
    font-size: 16px;
    line-height: 23px;
    color: #8c8c8c;
    &--title {
      font-weight: 500;
      color: $main-text-color;
    }
  }
}
// ============================================

.votting {
  &__image {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: 360px;
    height: 100%;
    img {
      max-height: 360px;
      max-width: 100%;
      width: 100%;
      border-radius: 20px;
      object-fit: cover;
    }
  }
  &__buttons {
    position: absolute;
    bottom: -15px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 5px;
  }
  &__button {
    width: 80px;
    height: 80px;
    background-color: #fbe0dc;
    img {
      width: 30px;
      height: 30px;
      object-fit: none;
      border-radius: 0;
      filter: brightness(0) invert(1);
    }
    &--like {
      background-color: #97eab9;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      &:hover {
        background: rgba(151, 234, 185, 0.3);
        img {
          filter: none;
        }
      }
    }
    &--fav {
      background-color: #ff868e;
      &:hover {
        background: rgba(255, 134, 142, 0.3);
        img {
          filter: none;
        }
      }
    }
    &--dislike {
      background-color: #ffd280;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      &:hover {
        background: rgba(255, 210, 128, 0.3);
        img {
          filter: none;
        }
      }
    }
  }

  &__history {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f8f8f7;
    border-radius: 10px;
    gap: 30px;
    padding: 20px;
  }
  &__time {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $main-text-color;
    background: #ffffff;
    border-radius: 5px;
    padding: 5px;
  }
  &__info {
    font-size: 16px;
    line-height: 24px;
    color: #8c8c8c;
    width: 100%;
    span {
      font-weight: 500;
      color: $main-text-color;
    }
  }
}

.upload {
  position: relative;
  background-color: #f8f8f7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: #ffffff;
    border-radius: 10px;
    &:hover {
      background-color: #ff868e;
      img {
        filter: brightness(0) invert(1);
      }
    }
    img {
      width: 20px;
      height: 20px;
    }
  }
  &__container {
  }
  &__heading {
    text-align: center;
  }
  &__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 52px;
    color: #1d1d1d;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8c8c8c;
    margin-top: 10px;
    span {
      color: #ff868e;
    }
  }
  input[type="file"] {
    display: none;
  }
  &__input {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8c8c8c;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    background-image: url("../public/img/upload-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    border: 2px dashed #fbe0dc;
    border-radius: 20px;
    width: 640px;
    height: 320px;
    margin-top: 40px;
    padding: 20px 40px;
    cursor: pointer;
    img {
      max-width: 100%;
      max-height: 100%;
    }
    span {
      font-weight: 500;
      color: #1d1d1d;
    }
    &.error {
      background-color: #fbe0dc;
      border: 2px dashed #ff868e;
    }
  }

  &__info {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8c8c8c;
    margin-top: 20px;
  }
  &__button {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #ffffff;
    background: #ff868e;
    border-radius: 10px;
    margin: 20px auto 0;
    padding: 10px 30px;
  }
  &__message {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8c8c8c;
    background: #ffffff;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    img {
      margin-right: 10px;
    }
  }
}
